[general]
pathstage=2

[pathstage1]
watchdirectory=
transfer_watch_file=
transfer_status_file=
bucket=
uploadpartsizemb=
accesskey=
secretkey=
endpoint=

[pathstage2]
incoming_directory=
transfer_watch_file=
transfer_status_file=
bucket=
uploadpartsizemb=
accesskey=
secretkey=
endpoint=